<template name="menu">

<a href="#menu" id="menuLink" class="pure-menu-link">
    <img src="/img/navicon-png2x.png" width="20"
     alt="Menu toggle">
</a>

<div class="pure-u" id="menu">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="/"><i class="icon-comments"> </i>Geospot</a>

        <ul>
            <li class="js-settings">
                <a class="js-link" href="/settings">{{ session 'username' }}</a>
            </li>
          
            <li class="js-localizeme">
                <a class="js-link" href="/localizeme">Location</a>
            </li>

            {{#if session 'default-chat'}}
            <li class="js-chat">
               <a class="js-link" href="/s/{{ session 'default-chat' }}">Chat ({{ session 'currRoomSize' }})</a>
            </li>
            {{/if }}

        </ul>
    </div>
</div> <!-- menu -->

</template>