<template name="menu">

<a href="#menu" id="menuLink" class="pure-menu-link">
    <img src="/img/navicon-png2x.png" width="20"
     alt="Menu toggle">
</a>

<div class="pure-u" id="menu">
    <div class="pure-menu pure-menu-open">
        <a class="pure-menu-heading" href="/">Geochat S</a>

        <ul>
          
            <li class=" ">
                <a href="/s/torino">Torino</a>
            </li>
          
            <li class=" ">
                <a href="/grids/">Grids</a>
            </li>
          
            <li class=" ">
                <a href="/forms/">Forms</a>
            </li>
          
            <li class=" ">
                <a href="/buttons/">Buttons</a>
            </li>
          
            <li class=" ">
                <a href="/tables/">Tables</a>
            </li>
          
            <li class=" ">
                <a href="/menus/">Menus</a>
            </li>
          
            <li class=" menu-item-divided">
                <a href="/customize/">Customize</a>
            </li>
          
            <li class=" ">
                <a href="/extend/">Extend</a>
            </li>
          
            <li class="pure-menu-selected ">
                <a href="/layouts/">Layouts</a>
            </li>
          

            <li class="menu-item-divided">
                <a href="http://yui.github.io/skinbuilder/?mode=pure">Skin Builder</a>
            </li>

            <li>
                <a href="http://yuilibrary.com/">YUI Library</a>
            </li>
        </ul>
    </div>
</div> <!-- menu -->

</template>